.bioCard div {
  background-color: steelblue;
  text-align: center;
  float: left;
  width: 30%;
  padding: 5px;
  margin: 5px;
}
.bioCard p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
.bioCard div img{
	width: 70%;
}
.bioCard div .icon a{
	width: 40%;
    margin: 0 auto;
	float: center;
    display: inline-block;

}
