html
  head
    style
      include ../css/bioCard.css
  body
    div.bioCard
      div
        p= person1.name + ": " + person1.bio + ' ' + person1.contact
        p= person2.name + ": " + person2.bio + ' ' + person2.contact
        p= person3.name + ": " + person3.bio + ' ' + person3.contact

