body
    include header.pug
    div.css
        h2 How much do you know about CSS?
    div.qCard
        ul
            each i in cssData
                include qCard.pug
    div.button
        include submitButton.pug
//- script
    //- include ../click.js
