body
    include header.pug
    h2 this is CSS question page
    div.qCardBody
        ul
            each i in cssData
                include qCard.pug

    // submit
    include submitButton.pug
script
    include ../click.js

