html
    head

      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='Front-Quiz', content='A website to test your front end knowledge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
      link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
      link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
      link(rel="manifest", href="/site.webmanifest")
      link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
      meta(name="msapplication-TileColor", content="#da532c")
      meta(name="theme-color", content="#ffffff")



      style

        include ../components/css/style.css
        include ../components/css/entry.css
        include ../components/css/profile.css

        include ../components/css/quiz.css
        include ../components/css/qCard.css

        include ../components/css/result.css
        include ../components/css/resultCard.css
        include ../components/css/button.css

      title Front-quiz | Hireme Project
    body
        div
            h2.projectTitle Front-quiz | Hireme Project
