html
    head
        style
            include ../components/css/style.css
            include ../components/css/languages.css
            include ../components/css/language.css
            include ../components/css/langCard.css
            include ../components/css/bioCard.css
            include ../components/css/qCard.css
            include ../components/css/result.css
            include ../components/css/resultCard.css
            include ../components/css/submitButton.css

        title Hire me test
