html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='Front-Quiz', content='A website to test your front end knowledge')
        link(rel="icon", type="img/png", sizes="16x16", href="public/img/favicon-16x16.png")

        style
            include ../components/css/style.css
            include ../components/css/index.css
            include ../components/css/qCard.css
            include ../components/css/result.css
            include ../components/css/button.css
            include ../components/css/responsive.css
            title Front-quiz | Hireme Project
    body.page
        div.menu
            a(href='https://github.com/brykka/hireme' target="_blank") 
                p Front-quiz | Hireme Project

            
