html
    head
        style
            include ../components/css/style.css
            include ../components/css/entry.css
            include ../components/css/profile.css

            include ../components/css/quiz.css
            include ../components/css/qCard.css

            include ../components/css/result.css
            include ../components/css/resultCard.css
            include ../components/css/button.css

        title Front-quiz | Hireme Project
    body
        div
            h2.projectTitle Front-quiz | Hireme Project
