html
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='Front-Quiz', content='A website to test your front end knowledge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel="icon", type="img/png", sizes="16x16", href="public/img/favicon-16x16.png")
      
      style
        include ../components/css/style.css
        include ../components/css/entry.css
        include ../components/css/profile.css

        include ../components/css/quiz.css
        include ../components/css/qCard.css

        include ../components/css/result.css
        include ../components/css/button.css

      title Front-quiz | Hireme Project
    body
        div
            h2.projectTitle Front-quiz | Hireme Project
