// function get_answers(question, answer)
//create an empty hash
//create counter from 0
//compare argument answer to htmlData.correctAns
// if it is, then ++ counter
// after comparing answers, find percentage
//return perentage

include header.pug
script.
  function changeColor(selectedAnswer) {
      document.getElementById(selectedAnswer).style.backgroundColor="black";
      document.getElementById(selectedAnswer).checked = true;
  }

div.section#quiz
    div.html
        h2 How much do you know about HTML?
    div.qCard
        ul
            each i in htmlData
                include qCard.pug
include submitButton.pug
