body
    include header.pug
    div.html
        h2 How much do you know about HTML?
    div.qCard
        ul
          each i in htmlData
            include qCard.pug
        //   const keys = Object.keys(htmlData);
        //   const randomIndex = keys[Math.floor(Math.random() * keys.length)];
        //   const randomHtml = htmlData[randomIndex];
    include submitButton.pug
//- script
    //- include ../click.js
