body
    include header.pug
    h2 this is html question page

    //- include qCard.pug
    //- include qCard.pug
    //- include qCard.pug
    div.qHtml
        h4 ↓↓↓↓↓ "htmlQuestions" should be here↓↓↓↓↓
        p #{htmlQuestions}

        h4 ↓↓↓↓↓ "woowoow" should be here↓↓↓↓↓
        p #{queSet}

    div.qCard
        #{html}

    // submit
    include submitButton.pug
