// function get_answers(question, answer)
//create an empty hash
//create counter from 0
//compare argument answer to htmlData.correctAns
// if it is, then ++ counter
// after comparing answers, find percentage
//return perentage


body
    include header.pug
    div.html
        h2 How much do you know about HTML?

    div.qCard
        ul
          each i in htmlData
            include qCard.pug


    include submitButton.pug

