h2 this is html question page

include qCard.pug
include qCard.pug
include qCard.pug

// link back to homepage/indextest
a(href='/indextest') Back to quizzes

// submit
a(href='/result') fake RESULT PAGE