// onclick send question and answers (post) to results
// compare argument answer to .correctAns
// after comparing answers, find percentage
// return perentage

include header.pug
script.
  function changeColor(selectedAnswer) {
      document.getElementById(selectedAnswer).style.backgroundColor="black";
      document.getElementById(selectedAnswer).checked = true;
<<<<<<< HEAD
  }

  function getAnswers(question, answer) {

=======
>>>>>>> ecdd6caadcefd03c852e1109b6d785a3b15a2da2
  }

div.section#quiz
    div.html
        h2 How much do you know about HTML?
    div.qCard
        ul
            each i in htmlData
                include qCard.pug
include submitButton.pug
