body
    include header.pug

    div.quizzes
        row
            h1 Which test do you want to take?

        row
            each val in listOfQuizzes
                div.langCard
                    a(href='quiz/' + val) #{val}
                        // We indent this so that the image is a link
                        img(src='/img/' + val + '.png')

    div.bios
        row
        h1 Who are we?

        row
        h2 #{body}

        row
            include bioCard.pug

        // to target the nameand stuff you are going to have to do it the long way h1=person1.name
        // p=person.bio
