body
    include header.pug
    h2 this is Javascript question page
    div.qCardBody     
        ul
            each i in javascriptData
                include qCard.pug
    // submit
    include submitButton.pug
script
    include ../click.js
