div.aQuestion

    h1= i.id
        span :
        span= i.question

    each answer, index in i.answers
        div#answer= answer
          input(id="i", type="radio", name=`${i.answers}`, value=0, checked="")
          label(for="i")
