div.aQuestion

    h1= i.id
        span :
        span= i.question

    each answer, index in i.answers
      label
        input(id="i", type="radio", name=`${i.answers}`, value=0, checked="", visibility="hidden", onclick="changeColor()")
        div#answer= answer
      script.
        function changeColor() {
            document.getElementById('answer').style.backgroundColor="black";
          }

