html
  head
    style
      include ../css/qCard.css
      
  body
  div 
    h1 This is a card
    p Question
    p ans1
    p ans2
    p ans3
    p ans4






// link back to homepage/indextest
a(href='/indextest') Back to quizzes

