body
    include header.pug
    div.qCardBody 
        div
            h1 This is a Question card
            p ans1
            p ans2
            p ans3
            p ans4
            h4 ps.will insert questions from database in the future(qCard.pug)
    script
        include ../click.js
