html
  head
    style
      include ../css/result.css
  body
    div.result
      div
        h1 Here is your HTML/CSS/Js quiz result

    include resultCard.pug
    // link back to homepage/indextest
    include againButton.pug
