body
    include header.pug
    div.end
        h3 Here is your 
            | HTML/CSS/Js 
            | quiz result
        div.result
            div.card-image
                //- img(src="https://images.unsplash.com/photo-1532884928231-ef40895eb654?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1633&q=80")
            h2 
                |You get 
                span 50/100
                |, awesome!
            
        include againButton.pug
