html
  head
    style
      include ../style.css
  body
    h1 Here is your result
    p Let's see how you did on the quiz
    p Let's how you did on the quiz





// link back to homepage/indextest
a(href='/indextest') Back to quizzes

