.bioCard {
  display: flex;
  justify-content: space-around;
}

.bioCard div {
  background-color: #dee2e5;
  text-align: center;
  width: 27%;
  height: max-content;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bioCard h3 {
  font-size: 30px;
  font-weight: lighter;
}

.bioCard p {
  color: #888989;
  font-size: 20px;
  padding: 30px;
}

.bioCard #avi img{
  border-radius: 15px;
  padding: 10px;
  justify-content: center;
  height: 250px;
  width: auto;
}

.bioCard #icon {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  padding: 0 auto;
}

.bioCard #icon a {
    width: 50px;
    height: auto;
    padding: 0 auto;
 }

 .bioCard #icon img {
  height: 30px;
 }
