.buttonSec{
	height: 15vh;
	padding: 5vh;
	text-align: center;
}

/* Basic styles */
.buttonSec a {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;

  box-shadow: inset 0 0 0 2px #2589BD;
  color: #2589BD;
  /* font-size: inherit; */
  font-size: 1.5em;
  font-weight: 700;

  position: relative;
  vertical-align: middle;
}

.buttonSec a::before,
.buttonSec a::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.buttonSec a.mainButton {
    transition: color 0.25s;
}

.buttonSec a.mainButton::before,
.buttonSec a.mainButton::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.buttonSec a.mainButton::before {
    top: 0;
    left: 0;
}

.buttonSec a.mainButton::after {
    bottom: 0;
    right: 0;
}

.buttonSec a.mainButton:hover {
    color: #FF9400;
}

  /* // Hover styles */
.buttonSec a.mainButton:hover::before,
.buttonSec a.mainButton:hover::after {
    width: 100%;
    height: 100%;
}

.buttonSec a.mainButton:hover::before {
	border-top-color: #FF9400;
	/* Make borders visible */
	border-right-color: #FF9400;
	transition:
		width 0.25s ease-out,
		height 0.25s ease-out 0.25s;
}

.buttonSec a.mainButton:hover::after {
    border-bottom-color: #FF9400;
	/* Make borders visible */
    border-left-color: #FF9400;
    transition:
      border-color 0s ease-out 0.5s,
	  /* Wait for ::before to finish before showing border */
      width 0.25s ease-out 0.5s,
	  /* And then exanding width */
      height 0.25s ease-out 0.75s;
	  /* And finally height */
}
