.langCard {
  background-color: white;
  padding: 30px;
  margin: 15px;
  width: 25vw;
  text-align: center;
}

.langCard a {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
}

.langCard img {
  height: 50px;
}
