.qCard .aQuestion {
	margin: 30px 20%;
	padding: 30px 50px;
	border: 2px dotted #fff;
}

.qCard h1 {
	font-size: 3em;
	margin: 0;
}

#answer {
    display: block;
    position:relative;
    margin: 0.67rem;
    padding: 0.67rem;
    background-color: #576172;
    color: #f9fdfe;
    border-radius: 3px;
    box-shadow: 2px 2px #898989;
    transition: all 0.4s ease-in-out;
}

#answer:hover {
  background-color: #888989;
  color: white;
  cursor: pointer;
  box-shadow: 2 2px #a3a3a3;
}


#answer_box:active {
  background-color: red;
  box-shadow: 0 20px #666;
  transform: translateY(4px);
}

label #i {
/*  visibility: hidden;
*/}


#answer:disabled {
  opacity: 0.5;
  background: #9ACFCC;
  color: #00403C;
  cursor: default;
}
