.qCardBody div{
	margin: 50px 20%;
	padding: 20px;
	border: 1px solid steelblue;
	text-align: center;
}


.qCardBody h1 {
	color: #454545;
	font-size: 2em;
	margin: 20px 20%;
	background-color: steelblue;
}

.qCardBody p{
    display: block;
    position:relative;
    margin: 0.67rem;
    padding: 0.67rem;
    background-color: red;
    transition: all 0.4s ease-in-out;
}

input {
    border: 1px solid darken(adjust-hue(#ffe, -23deg),15%);
    padding: 10px;
}
.qCardBody p:hover{
  background-color: black;
  color: white;
}
