/* General layout for all */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    background-color: #ace0f9;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #454545;
}

a {
    text-decoration: none;
    color: #454545;
}

h2 {
    margin: 0;
    font-size: 5em;
    font-weight: lighter;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15%;
}

h3{
    font-size: 2.5em;
    margin: 0;
    font-weight: lighter;
}
p {
  color: #646464;
  font-size: 20px;
}
row {
    display: flex;
    justify-content: center;
}

.projectTitle {
    color: #fff;
    font-size: 1.2em;
    margin-top: 20px;
}
