/* General layout for all */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ace0f9;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    color: #454545;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
    color: #646464;
    margin: 10px 0;
}

h2 {
    font-weight: lighter;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.underline {
    border-bottom: 1px solid #454545;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu {
    margin: 0;
    padding: 0;
    height: 50px;
}

.menu p {
    color: rgba(255, 255, 255, 0.8);
}
