

.header{
  margin: 50px 25%;
}

.quizzes {
  background-color: #dee2e5;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.quizzes h2 {
  font-weight: lighter;
}

.bios {
  background-color: #bbc0c3;
  height: 130vh;
}

.bios h2 {
  padding: 30px 19%;
  font-weight: lighter;
}
